* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background:linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container {
    width: 320px;
    background: url(images/bg-pattern-mobile.svg) no-repeat;
    background-color: white;
    background-size: 80%;
    background-position-y: -5px;
    background-position-x: 30px;
    border-radius: 20px;
    position: relative;
    padding: 30px 0;
    margin: 180px 5% 5vh 5%;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 1px 10px 21px -4px rgba(0, 0, 0, 0.85);
    box-shadow: 1px 10px 21px -4px rgba(0, 0, 0, 0.85);
}

.background {
    position: absolute;
    left: -10%;
    top: 40%;
    z-index: 10;
    display: none;
}

.imageBox {
    position: relative;
    height: 100px;
    width: 100%;
}

.imgPC {
    display: none;
    position: absolute;
    left: -13%;
    top: 9%;
}

.imgMB {
    position: absolute;
    z-index: 10;
    left: 5%;
    top: -135%;
}

.attribution {
    font-size: 15px;
    text-align: center;
}
  
.attribution a {
    color: hsl(14, 88%, 65%);
}

h1 {
    color: hsl(238, 29%, 16%);
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    margin: 30px 0 50px 0;
    text-align: center;
}

.FAQ {
    height: 2rem;
    padding: 0 1rem;
}

.question {
    color: hsl(237, 12%, 33%);
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    justify-content: space-between;
    margin-right: 5px;
}
.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
    font-weight: bolder;
}
.question::after {
    color: hsl(14, 88%, 65%);
    content: url(images/icon-arrow-down.svg);
    font-size: 2rem;
    transition: all 0.3s ease-out;
}
.question.active {
    font-weight: bolder;
    color:hsl(240, 73%, 65%);
}
.question.active::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

hr {
    border: 0;
    border-top: 1px solid #e8e8ea;
    margin: 0 5% 0.75rem 5%;
}
hr.active {
    margin-top: 45px; 
}

.answer {
    color: hsl(237, 12%, 33%);
    height: 0;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.125rem;
    overflow: hidden;
}
.answer.active {
    height: 100px;
    margin-top: 10px;
}

@media only screen and  (min-width: 999px){
    .container {
        width: 920px;
        height: 510px;
        display: flex;
        margin: 0;
        background: url(images/bg-pattern-desktop.svg) no-repeat;
        background-position-x: -363px;
        background-position-y: 63%;
        background-size: 90%;
        background-color: white;
    }
    .background {
        display: block;
    }
    h1 {
        text-align: start;
        padding-left: 1rem;
    }
    .imageBox {
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
    .imgPC {
        display: block;
    }

    .content {
        margin-left: 5%;
        width: 40%;
    }
}